
.navbar-brand{
  color: #ffffff;
}
.jumbotron{
  margin: 0 auto;
  background-color: transparent;
  width: 80%;
}
.container{
  min-height: 100%;
  margin-left: 5px;
  width:100%;
  background-color:rgba(0,0,0,.9);
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  color:#FFF;
}
body{
  background: url("../images/bg_Image_prototype.jpg");
   height: 100%;
   width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
 }

.errMessage{
  font-size: 1.5em;
  color: #FC3912;
  text-align: left;
}
#Banner {
  background-color: #000000;
  height: 100px;
  font-size: 90px;
  font-family: Bahnschrift Condensed;
}

#Banner a {
  color: #FFFFFF;
  text-decoration: none;
}

#Banner p {
  font-size: 20px;
  float: right;
  padding: 20px;
  color: #FFFFFF;
}

#BodyPanel {
  position: relative;
  height: 100%;
  width: 100%
}
#NavigatorButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 40px;
  cursor: pointer;
  color: #FFF;
}

#navigatorPanel {
  z-index: 89;
  background-color: #12171F;
  position: absolute;
  height: 100vh;
  width: 0%;
  overflow-x: hidden;
  transition: 0.5s;
  top:0px;
  padding-top: 50px;
  font-family: Bahnschrift Condensed;
}

#navigatorPanel .closeButton {
  position: absolute;
  top: 0px;
  right: 7%;
  z-index: 1;
  font-size: 3.5em;
  cursor: pointer;
}

#closeButton:hover {
  color: #FFFFFF;
}

#navigatorPanel a {
  padding: 0px 0px .5em 1em;
  text-decoration: none;
  font-size: 2em;
  color: #A9A9A9;
  display: block;
  transition: 0.3s;
}

#navigatorPanel a:hover {
  color: #FFFFFF
}

#reachLogo{
  width:100px;
  margin:0 auto;
  height:20px;
}
#reachLogo img{
  float:left;
  height:100px;
  width:100px;
}
#bottomNavbar{
  background-color: black;
}
#navbarContent{
  margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
#eventInfo{
  width:100%;
  margin:0;
  background-color: rgba(0,0,0,0.9);
  position: relative;
  left: 5px;
}
table,
th,
td,
tr { 
  border-collapse: collapse;
  border-spacing: 10px;
  padding: 17px;
}
#eventInfo td {
  width: 16.6666666%;
  vertical-align: middle;
  text-align: left;
  padding: 0;
}
#eventInfo tr {
  height: 3em
}
#eventInfo tr {
  height: 3em
}
#submitButton{
  float:right;
}
hr { 
   border-color: #FF6E83;
   border-width: 2px;
}
p{
  box-shadow: 0 0 0px #000;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}
