<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/createEvent.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="jumbotron" id="formContent">
<div class="container" style="border-radius:15px">
<h1><strong>Privacy</strong></h1>

<p>
	All information is kept private. Should the need arise where your data may be used we will notifty you of such an event. We will never use your data without consent. NEVER give your personal information to anyone to prevent anything happening to your account.
</p>
</div>
</div>
</body>
</html>
