html, body {
  height: 100%;
  margin: 0px;
  font-family: Bahnschrift Condensed;
}

#Banner {
   background-color: #000000;
  height: 100px;
  font-size: 90px;
  font-family: Bahnschrift Condensed;
  position:relative;
  z-index:90;
  min-width: 700px;
}

#Banner a {
  color: #FFFFFF;
  text-decoration: none;
}

#Banner p {
  font-size: 20px;
  float: right;
  padding: 20px;
  color: #FFFFFF;
}

#BodyPanel {
  position: fixed;
  height: 100%;
  width: 100%
}

#mapPanel {
  height: 100%;
  width: 100%;
}

#controlPanel {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 3;
  background-color: #38414E;
  height: 85%;
  text-align: center;
  font-size: 20px;
  min-width: 200px;
  color: #FFFFFF;
  border-radius: 15px;
}


table {
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

#NavigatorButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 40px;
  cursor: pointer;
}

#navigatorPanel {
  z-index: 2;
  background-color: #12171F;
  position: fixed;
  height: 100%;
  width: 0%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  font-family: Bahnschrift Condensed;
}

#navigatorPanel .closeButton {
  position: absolute;
  top: 0px;
  right: 7%;
  z-index: 1;
  font-size: 3.5em;
  cursor: pointer;
}

#closeButton:hover {
  color: #FFFFFF;
}

#navigatorPanel a {
  padding: 0px 0px .5em 1em;
  text-decoration: none;
  font-size: 2em;
  color: #A9A9A9;
  display: block;
  transition: 0.3s;
}

#navigatorPanel a:hover {
  color: #FFFFFF
}

#logo {
  cursor: pointer;
}

#pageTitle {
  margin: 0;
  padding: 0;
}

.slidecontainer {
  border-radius: 15px 15px 0px 0px;
  background-color: #12171F;

  padding-top: 20px;
}

.nearbyEvents {
  background-color: #38414E;
  height=100%;
}

input {
  border-radius: 15px;
  color: #FFFFFF;
  background-color: #242f3E;
  border: none;
}

.slider {
  -webkit-appearance: none;
  background: #38414E;
  outline: none;
  height: 10px;
  cursor:pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  background: #242f3E;
  width: 10px;
  height: 20px;
  border-radius: 25px;
}
