body, html{
  margin:0px;
  padding:0px;
  height: 100%;
}


.jumbotron{
  background:none;
}
.navbar-brand{
  color: #ffffff;
}
#bgImage{
  background-image: url("bg_Image_prototype.jpg");

  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;


}
#content h1{
  font-size: 100px;
  color: #ffffff;
}

#content button{
  margin: 5px auto;
}

#content{
  text-align: center;
  height:90%;
  margin:auto;
  padding-top: 15%;
}


#signInButton{
  background-color: #393939;
  color: #ffffff;
  font-size: 18px;
  width:174px;
  height:55px;

  padding:5px;

  border-radius: 2px;
  border: 2px solid red;
}

#createAccountButton{
  background-color: #393939;
  color: #ffffff;
  font-size: 18px;
  width:174px;
  height:55px;

  padding:5px;

  border-radius: 2px;
  border: 2px solid red;
}
#reachLogo{
  width:100px;
  margin:0 auto;
  height:20px;
}
#reachLogo img{
  float:left;
  height:100px;
  width:100px;
}
#bottomNavbar{
  background-color: black;
}
#navbarContent{
  margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
